<section class="container-fluid actualites_bg d-flex align-items-center justify-content-center">
    <div class="container-fluid" style="padding-top: 100px;">
      <div class="row">
        <div class="col-md-12 mt-md-0 mt-12">
          <h1>LOGIN IF YOU WANT TO ACCESS VARIOUS CONTENTS</h1>
        </div>
      </div>
      <div class="row">
        <ul class="nav navbar navbar-left d-flex d-inline-flex align-items-center justify-content-center member_infos">
          <li class="nav-item d-inline-flex  align-items-center mr-2"><a class="active"><span>LOGIN</span></a></li>
          <li class="nav-item d-inline-flex  align-items-center mr-2"><a routerLink="/register"><span>REGISTER</span></a></li>
        </ul>
      </div>
        <div class="row">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <div class="fadeIn first">
                    <img src="../../../../assets/img/favicon.png" id="icon" alt="User Icon" />
                  </div>
                  <form method="GET">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                    <input type="submit" class="fadeIn fourth login" value="Log In">
                  </form>
                  <button class="fadeIn fourth register" routerLink="/register">Register</button>
                  <div id="formFooter">
                    <a class="underlineHover" routerLink="/">Forgot Password ?</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>