<section class="container-fluid home_bg d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-12 mt-md-0 mt-12 col-xs-12 d-flex align-items-center justify-content-center">
      <h1>DÉCOUVREZ VOS STATISTIQUES ET<br><span class="fort">PROGRESSEZ</span></h1>
    </div>
    <div class="col-md-12 mt-md-0 mt-12 col-xs-12 d-flex align-items-center justify-content-center">
      <form method="GET">
        <div class="input-group mb-3" style="width: 567px;">
          <div class="input-group-prepend">
            <!-- <i class="input-group-text fab fa-windows active"></i>
          <i class="input-group-text fab fa-xbox"></i>
          <i class="input-group-text fab fa-playstation"></i> -->
            <input type="radio" class="radio_item" value="" name="item" id="radio1">
            <label class="label_item input-group-text" for="radio1"> <i class="checkmark fab fa-windows"></i></label>
            <input type="radio" class="radio_item" value="" name="item" id="radio2">
            <label class="label_item input-group-text" for="radio2"> <i class="checkmark fab fa-xbox"></i></label>
            <input type="radio" class="radio_item" value="" name="item" id="radio3">
            <label class="label_item input-group-text" for="radio3"> <i
                class="checkmark fab fa-playstation"></i></label>
          </div>
          <input type="text" class="form-control" name="pseudo" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <button type="submit"><i class="input-group-text fa fa-arrow-right active"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- <section class="container-fluid home_what d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-12 col-xs-12">
        <span class="strong">SIXTH MAN <span class="lite">QU'EST QUE C'EST ?</span></span>
      </div>
    </div>
    <div class="row data">
      <div class="col-md-4 col-xs-12">
        <img src="../../../../assets/img/stats.png" alt="">
      </div>
      <div class="col-md-8 col-xs-12">
        <h2>LE POUVOIR DE LA DATA</h2>
        <p>Ex turba vero imae sortis et paupertinae in tabernis
          aliqui pernoctant vinariis, non nulli velariis umbraculorum
          theatralium latent, quae Campanam imitatus lasciviam Catulus
          in aedilitate sua suspendit omnium primus; aut pugnaciter aleis
          certant turpi sono fragosis naribus introrsum reducto spiritu
          concrepantes; aut quod est studiorum omnium maximum ab </p>
        <button class="go_premium">GO</button>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid home_services d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-md-0 mt-12">
        <h2>AU SERVICE DU GAMING</h2>
      </div>
    </div>
    <div class="row gaming">
      <div class="col-md-6">
        <img src="../../../../assets/img/pc.png" alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <p>Ex turba vero imae sortis et paupertinae in tabernis
          aliqui pernoctant vinariis, non nulli velariis umbraculorum
          theatralium latent, quae Campanam imitatus lasciviam Catulus
          in aedilitate sua suspendit omnium primus; aut pugnaciter aleis
          certant turpi sono fragosis naribus introrsum reducto spiritu
          concrepantes; aut quod est studiorum omnium maximum ab</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid home_reassurance d-flex align-items-center justify-content-center">
  <div class="col-md-4 service_1 d-flex align-items-center justify-content-center col-xs-12">
    <div class="rectangle">
      <span class="number">1</span>
      <span class="title">RÉCUPERATION</span>
      <p class="texte">de vos données</p>
      <i class="fas fa-database fa-4x icon"></i>
    </div>
  </div>
  <div class="col-md-4 service_2 d-flex align-items-center justify-content-center col-xs-12">
    <div class="rectangle">
      <span class="number">2</span>
      <span class="title">ANALYSE</span>
      <p class="texte">de vos performances</p>
      <i class="fas fa-chart-bar fa-4x icon"></i>
    </div>
  </div>
  <div class="col-md-4 service_3 d-flex align-items-center justify-content-center col-xs-12">
    <div class="rectangle">
      <span class="number">3</span>
      <span class="title">RESTITUTION</span>
      <p class="texte">nous vous guidons</p>
      <i class="fas fa-search fa-4x icon"></i>
    </div>
  </div>
</section>
<section class="container-fluid home_ready d-flex align-items-center justify-content-center">
  <div class="col-md-12 ready d-flex align-items-center justify-content-center col-xs-12">
    <span class="title">READY ?</span>
    <img class="logo" src="../../../../assets/img/favicon.png" alt="">
    <p class="texte">TU PEUX T'INSCRIRE EN CLIQUANT SUR LE BOUTON JUSTE EN DESSOUS</p>
    <button class="go_premium icon">GO</button>
  </div>
</section> -->