<section class="container-fluid actualites_bg">
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <h1>RÉSUMÉ DES STATISTIQUES</h1>
            </div>
        </div>
        <div class="row">
            <ul class="nav navbar navbar-left d-flex d-inline-flex align-items-center justify-content-center member_infos">
                <li class="nav-item d-inline-flex  align-items-center mr-2"><img src="../../../../assets/img/pp.png" alt=""></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><img src="../../../../assets/img/rank.png" alt=""></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><span>PSEUDO : CHICH LE GROS NULLOS.</span></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><span>TIME PLAYED : 3550h</span></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><span>RATIO V/L : 0.2</span></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><span>RADIO K/D : 0.5</span></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-12">
                <h2 style="text-align: center;">ATTAQUANT PRÉFERÉ</h2>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-8 mt-md-0 mt-12 operator_img_content" style="text-align: right;">
                        <img class="operator_img" src="../../../../assets/img/operators/hibana.png" alt="">
                    </div>
                    <div class="col-md-4 mt-md-0 mt-12" style="text-align: right;">
                        <ul class="attacks_stats">
                            <li><img src="../../../../assets/img/icons/hibana.png" alt=""></li>
                            <li><span>TIME PLAYED: XX.XX</span></li>
                            <li><span>KDA : XX XX</span></li>
                            <li><span>HEADSHOT RATIO : XXX</span></li>
                            <li><span>KILLS : XXX</span></li>
                            <li><span>DEATHS : XXX</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-12">
                <h2 style="text-align: center;">ATTAQUANT PRÉFERÉ</h2>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-4 mt-md-0 mt-12" style="text-align: left;">
                        <ul class="attacks_stats">
                            <li><img src="../../../../assets/img/icons/bandit.png" alt=""></li>
                            <li><span>TIME PLAYED: XX.XX</span></li>
                            <li><span>KDA : XX XX</span></li>
                            <li><span>HEADSHOT RATIO : XXX</span></li>
                            <li><span>KILLS : XXX</span></li>
                            <li><span>DEATHS : XXX</span></li>
                        </ul>
                    </div>
                    <div class="col-md-8 mt-md-0 mt-12 operator_img_content">
                        <img class="operator_img" src="../../../../assets/img/operators/bandit.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid operators_bg">
    <div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <h2>ATTAQUANTS / DEFENSEURS</h2>
            </div>
        </div>
        <div class="row">
            <ul class="nav navbar navbar-left d-flex d-inline-flex align-items-center justify-content-center member_infos">
                <li class="nav-item d-inline-flex  align-items-center mr-2"><img src="../../../../assets/img/icons/ash.png" alt="">ASH</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-4 mt-md-0 mt-12" style="text-align: right;">
                        <ul class="attacks_stats solo">
                            <li><img src="../../../../assets/img/clock.png" alt=""><span>1000 H</span></li>
                            <li><img src="../../../../assets/img/kd.png" alt=""><span>1.30</span></li>
                            <li><img src="../../../../assets/img/skull.png" alt=""><span>1.20</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mt-md-0 mt-12" style="text-align: center;">
                        <img src="../../../../assets/img/operators/ash.png" alt="">
                    </div>
                    <div class="col-md-4 mt-md-0 mt-12">
                        <ul class="attacks_stats">
                            <li><span class="gadget">GADGET</span></li>
                            <li><span class="gadget_name">MUNITION D'INFILTRATION</span></li>
                            <li><span class="gadget_score">600</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav navbar navbar-left d-flex d-inline-flex align-items-center justify-content-center all_operators">
                <li class="nav-item d-inline-flex  align-items-center mr-2"><i class="fas fa-chevron-left"></i></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><img src="../../../../assets/img/icons/hibana.png" alt=""></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><img src="../../../../assets/img/icons/hibana.png" alt=""></li>
                <li class="nav-item d-inline-flex  align-items-center mr-2"><i class="fas fa-chevron-right"></i></li>
            </ul>
        </div>
    </div>
</section>
<section class="container-fluid join_bg d-flex align-items-center justify-content-center">
    <div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <h2>REJOINS L'UNITÉ</h2>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-12 mt-md-0 mt-12">
                <h3>TU SOUHAITES EN APPRENDRE PLUS
                    SUR TES STATISTIQUES ? </h3>
            </div>
            <div class="col-md-12 mt-md-0 mt-12">
                <button class="go_premium">GO</button>
            </div>
        </div>
    </div>
</section>