<section class="container-fluid actualites_bg d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <h1>WHO IS THE BEST ?</h1>
            </div>
        </div>
        <div class="col-md-12 mt-md-0 mt-12 col-xs-12 d-flex align-items-center justify-content-center">
            <form method="GET">
                <div class="col-md-12">
                    <div class="input-group mb-3" style="width: 567px; float:left; margin-bottom: 0 !important;">
                        <div class="input-group-prepend">
                            <input type="radio" class="radio_item" value="pc" name="player_one" id="radio1">
                            <label class="label_item input-group-text" for="radio1"> <i
                                    class="checkmark fab fa-windows"></i></label>
                            <input type="radio" class="radio_item" value="xbox" name="player_one" id="radio2">
                            <label class="label_item input-group-text" for="radio2"> <i
                                    class="checkmark fab fa-xbox"></i></label>
                            <input type="radio" class="radio_item" value="ps4" name="player_one" id="radio3">
                            <label class="label_item input-group-text" for="radio3"> <i
                                    class="checkmark fab fa-playstation"></i></label>
                        </div>
                        <input type="text" class="form-control" name="pseudo_one" aria-label="">
                    </div>
                    <span style="float:left;">VS</span>
                    <div class="input-group mb-3" style="width: 567px; float:left;">
                        <div class="input-group-prepend">
                            <input type="radio" class="radio_item" value="pc" name="player_two" id="radio4">
                            <label class="label_item input-group-text" for="radio4"> <i
                                    class="checkmark fab fa-windows"></i></label>
                            <input type="radio" class="radio_item" value="xbox" name="player_two" id="radio5">
                            <label class="label_item input-group-text" for="radio5"> <i
                                    class="checkmark fab fa-xbox"></i></label>
                            <input type="radio" class="radio_item" value="ps4" name="player_two" id="radio6">
                            <label class="label_item input-group-text" for="radio6"> <i
                                    class="checkmark fab fa-playstation"></i></label>
                        </div>
                        <input type="text" class="form-control" name="pseudo_two" aria-label="">
                    </div>
                </div>
                <div class="input-group-append col-md-12 d-flex align-items-center justify-content-center">
                    <input type="submit" class="fadeIn fourth" value="COMPARE">
                </div>
            </form>
        </div>
    </div>
</section>