<section class="container-fluid actualites_bg d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-md-0 mt-12">
                <h1>SE CONNECTER</h1>
            </div>
        </div>
        <div class="row">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                  <div class="fadeIn first">
                    <img src="../../../../assets/img/favicon.png" id="icon" alt="User Icon" />
                  </div>
                  <form method="GET">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                  </form>
                  <div id="formFooter">
                    <a class="underlineHover" routerLink="/">Forgot Password ?</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>